:root {
    --hue: 20;
    --base: 180;
    --bgcolor: hsl(var(--hue), 100%, 50%);
    --color: hsl(calc(var(--hue) + var(--base)), 100%, 50%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
body {
    background: linear-gradient(45deg, #c0ffee, #bada22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
header {
    margin: 50px 0;
}
header h1 {
    font-size: 4rem;
    color: var(--color);
}
button {
    background: none;
    padding: 5px;
}
.keys {
    font-size: 3rem;
    margin: auto 10px;
    color: calc(var(--color) - var(--base));
    transition: all 0.10s ease-in-out;
    padding: 10px;
    border-radius: 10px;
}
.pressed {
    transform: scale(1.2);
}


