:root {
	--hue-purple: hsl(25, 85%, 75%);
	--hue-rouge: hsl(10, 95%, 90%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
	background-color: beige;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
ul {
  width: 100%;
  display: flex;
}
li {
  margin: auto 2rem;
  list-style: none;
}
footer {
  margin: .5rem;
}
