/**************************************************


	Written by Julius Cinco Cesar
	November 01, 2024


**************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
