@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
--bg-color: linear-gradient(45deg, lightgreen, skyblue);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* Centered Elements */
body, ul, #app {
  display: flex;
  justify-content: center;
  font-family: 'Titan One', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: var(--bg-color) no-repeat;
}
/* Header */
ul li {
  text-transform: uppercase;
  font-size: small;
  margin: 1rem;
  list-style: none;
}

#app {
  width: 100%;
  align-items: center;
}
#app article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .25rem;
}
#app img {
  width: 5rem;
  margin: .25rem;
}
#app button {
  width: 5rem;
  height: 5rem;
}
#app section {
  display: flex;
  flex-direction: column;
}
.pressed {

}